body{
    font-family: 'Nunito', sans-serif;
}

.brand{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
}

h1, h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}

.flex-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.nav-button{
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    margin: 8px;
    padding: 10px;
}

.custom-navbar{
    margin: 0 35px;
    height: 100px;
}

.home-container{
    padding-bottom: 80px;
}

/* industry feature section */

.industry-feature{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}

.i-feature-card{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 6px 15px 4px #c4ddfe;
    width: 23.33%;
    border-radius: 25px;
}

.i-feature-card > img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.i-feature-card > p{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

/* features section */

.box-container{
    padding: 80px 186px;
}

@media (max-width:748px){
    .box-container{
        padding: 40px 80px;
    }
}

.feature-section-img{
    height: 100px;
}

.title-text{
    margin-bottom: 60px;
    text-align: center;
}

.water-features{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feature-inner-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 245px;
}

.feature-inner-box > p{
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
    letter-spacing: 0.5px;
}

.feature-inner-box > h4{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;
}

.feature-section-img-container{
    padding: 50px;
    border-radius: 100%;
    margin-bottom: 25px;
    box-shadow: 5px 6px 15px 4px #c4ddfe;
}

/* Company about section */

.company-about{
    margin: 100px 156px;
}

.main-headings{
    font-weight: 800;
}

.company-about-image{
    border-radius: 100%;
    height: 40%;
    width: 40%;
}

.Delivery-container > img{
    background-color: aqua;  
}

.shapedividers_com-1409{
    overflow:hidden;
    position:relative;
}

.shapedividers_com-1409::before{ 
    content:'';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23cdf5fd"/></svg>'); 
}
    
@media (min-width:2100px){
    .shapedividers_com-1409::before{
    background-size: 100% calc(2vw + 90px);
}
}

.card-image{
    height: auto;
    width: 100%;
    max-height: 350px;
}


/* Product Section */

.section-heading{
    letter-spacing: 1px;
    margin-bottom: 18px;
}

.section-sub-heading > p, .delivery-section-item-list{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
}

.section-heading-color{
    color: #379eff;
}

.index-product-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index-product-right{
    width: 50%;
}

.index-product-right > img{
    width: 100%;
}

.index-product-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 60px 0 20px;
}

.section-content > p{
    text-align: left;
    font-size: 18px;
    line-height: 1.7em;
    margin-bottom: 30px;
}

.section-btn > a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    border-radius: 90px;
    box-shadow: 0 20px 30px 0 rgba(41, 112, 250, 0.2);
    background: #67b5ff linear-gradient(120deg, rgba(102, 150, 255, 0) 0%, #5d93ff 100%);
}

.section-btn > a:hover{
    background:  #4d86ff linear-gradient(120deg, rgba(102, 150, 255, 0) 0%, #5b92ff 100%);
}

.delivery-subhead{
    text-align: left;
}

.element-container{
    padding: 0 20px 0 60px;
}

.delivery-subcontent-left > img{
    height: 100px;
    width: auto;
}

.delivery-subcontent-right > p{
    margin-bottom: 0;
}

.delivery-section-content-item{
    display: flex;
    align-items: center;
}

.delivery-img{
    padding-right: 20px;
}

/* Review section */

.review-box{
    box-shadow: 5px 6px 15px 4px #c4ddfe;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
}

.review-container{
    margin-bottom: 40px;
}

.star-review{
    margin-bottom: 20px;
}

.star-review > img{
    height: 18px;
}

.review-box-wrapper{
    display: flex;
    width: 33.33%;
}

.review-profile-img > img{
    height: 55px;
    width: auto;
}

.review-profile-img{
    margin-right: 10px;
}

.review-profile-wrapper{
    margin-top: 10px;
}

.review-box-content{
    font-size: 18px;
    text-align: left;
}

.review-profile-name > h6{
    font-weight: 600;
    font-size: 18px;
}

.review-profile-name > p{
    font-weight: 600;
    font-size: 16px;
}

.reviews-btn{
    display: flex;
    justify-content: center;
}