body{
    background-color: #CDF5FD;
    font-family: 'Montserrat', sans-serif;
}

.brand{
    margin:0 0 0 70px;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
    color: white;
}

.brand:hover{
    color: white;
}

.nav-color{
    color: white;
}

.nav-color:hover{
    color: #00A9FF;
}

.nav-button{
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    margin: 8px;
    padding: 10px;
}

.custom-navbar{
    height: 100px;
    color: white;
}

.margin-custom{
    display: flex;
    text-align: center;
    justify-content: space-between;
    justify-items: center;
}

.home-container{
    background: url("../resources/6212329.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.home-container::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.1);
}

.index-page{
    height:100vh;
}

@keyframes brand-animation {
    from{
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes sub-head-animation {
    from{
        transform: translateY(50px);
        opacity: 0; 
    }
    to{
        transform: translateY(0);
        opacity: 1; 
    }
}

.main-headline{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 65%;
    justify-content: center;
}

.feature-section{
    height: 170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin: 50px 0;
}

.industry-feature > img{
    height: 100px;
    width:100px;
    margin-left: 200px;
}

.brand-name{
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 90px;
    animation: brand-animation 1.5s ease-in-out;
    text-shadow: 10px;
}

.main-quote{
    font-size: 18px;
    font-weight: 400;
    color: white;
    animation: sub-head-animation 1.5s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

.custom-icons> img{
    height:100px;
    width:100px;
}

.custom-icons{
    display:inline-block;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}    

.shapedividers_com-1409{
    overflow:hidden;
    position:relative;
}

.shapedividers_com-1409::before{ 
    content:'';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 90px;
    background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" fill="%23cdf5fd"/></svg>'); 
}
    
@media (min-width:2100px){
    .shapedividers_com-1409::before{
    background-size: 100% calc(2vw + 90px);
}
}

/* features section */

.box-container{
    margin: 100px 156px;
}

.water-features-section{
    background-color: #00306e;
    padding: 95px 50px;
    color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
}

.title-text{
    margin-bottom: 45px;
    text-align: center;
}

.water-features{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feature-inner-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 240px;
}

.feature-section-img{
    height: 90px;
    width: 90px;
    margin-bottom: 20px;
}

.para-text{
    color: #cfcfcf;
}

/* Company about section */

.company-about{
    margin: 100px 156px;
}

.main-headings{
    font-weight: 800;
}

.company-about-image{
    border-radius: 100%;
    height: 40%;
    width: 40%;
}
     
