/* h1{
   text-align: center;
   font-family: 'Montserrat', sans-serif;  
} */

.custom-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
}

.page-head{
    height: 236px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #00306e;
}

.card{
    margin: 30px;
    transition: all 500ms ease;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-first{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-second{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-third{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-forth{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-fifth{
    height:300px;
    width:280px;
    border-radius: 50px;
}
.card-sixth{
    height:300px;
    width:280px;
    border-radius: 50px;
}

/* h5{
    text-align: center;
}
p{
    text-align:center;
}  */
     

