
    <div class="wave-container"></div>
    <footer>
      
    

    <table>
      <tr>
        <td>
          <h2>Please <span style="color:hsl(198, 90%, 48%)">Call Us</span> to Take an Extraordinary Service</h2>
        </td>
        <td>
          <div class="support-box">
            <button type="button" class="contact-button btn btn-secondary btn-lg">9416190535</button>
          </div>
        </td>
      </tr>
    </table>
    <hr>

    <table>
      <tr>
        <td>
          <div class="first-col">
            <h5>Mountain Drops</h5>
            <p>Alkaline Mineral water based drinking water company</p>
            <h5>Working Hours:</h5>
            <p>Monday to Saturday: 7 AM to 10 PM</p>
            <p>Sunday: 7 AM to 2 PM</p>
          </div>
        </td>
        <td>
          <div class="second-col">
            <h5>Address</h5>
            <p>Shree Durga Drinking,</p>
            <p>Begu Road, Sirsa(HRY)</p>
            <p>Call Us: 01666-212121</p>
            <p>shreedurga66535@gmail.com</p>
          </div>
        </td>
        <td>
          <div class="third-col">
            <h5>Useful Links</h5>
            <a><p>About company</p></a>
            <a><p>Services</p></a>
            <a><p>How it Works</p></a>
            <a><p>Contact us</p></a>
          </div>
        </td>
        <td>
          <div class="forth-col">
            <h5>Subscribe</h5>
            <p>Please enter your mail to avail our services</p>
            <input type="mail" placeholder="Email">
          </div>
        </td>
      </tr>
    </table>

      
     
    <div class="footer-icons">
        <i class="fa-brands fa-twitter" style="color:  #3c7cec;"></i>
        <i class="fa-brands fa-facebook" style="color: #3c7cec;"></i>
        <i class="fa-brands fa-instagram" style="color: #2872f0;"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-regular fa-envelope"></i>
      </div> 
    </footer>
  <script src="" async defer></script>
  </body>
</html>