<div class="wave-container"></div>
<footer>
  <div class="box-container pb-3">
    <div class="footer-container">
      <div class="row">
        <div class="col-sm-6 col-lg-4 pb-3">
          <div class="footer-col">
            <div class="footer-col-submenu">
              <h5>Mountain Drops</h5>
              <p>Alkaline Mineral water based</p>
              <p>drinking water company</p>
            </div>
            <div class="footer-col-submenu">
              <h5><strong><span class="section-heading-color">|</span></strong> Working Hours:</h5>
              <p>Monday to Saturday: 7 AM to 10 PM</p>
              <p>Sunday: 7 AM to 2 PM</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 pb-3">
          <div class="footer-col">
            <div class="footer-col-submenu">
              <h5><strong><span class="section-heading-color">|</span></strong> Address</h5>
              <p>Shree Durga Drinking,</p>
              <p>Begu Road, Sirsa(HRY)</p>
            </div>
            <div class="footer-col-submenu">
              <h5><strong><span class="section-heading-color">|</span></strong> Contact Us</h5>
              <p>Call Us:<a href="/"><span class="footer-contact"><strong> 01666-212121</strong></span></a></p>
              <p><a class="footer-contact" href="/">shreedurga66535@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pb-3">
          <div class="footer-col">
            <div class="footer-col-submenu">
              <h5><strong><span class="section-heading-color">|</span></strong> Subscribe</h5>
              <p>Please enter your mail to know more about our services.</p>
              <form class="footer-input-form" method="POST">
                <input class="footer-input-email footer-input" type="email" name="email" placeholder="Your email address">
                <input class="footer-input footer-input-btn" type="submit" value="Subscribe">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-icons">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        <a href=""><i class="fa-regular fa-envelope"></i></a>
      </div>
      <div class="footer-copyright">
        <p>Copyright ©2023 Mountain Drops. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<script src="" async defer></script>
</body>
</html>