<%- include("partials/header") -%>
<div container class="booking-container">
    <div class="booking-header">
        <h3 class="book-heading">
            Order Water Jars Online by Mountains Drops
        </h3>
        <p class="book-p">
            Book Online Drinking-Water Jars
        </p>
        <h5 class="book-contact">
            Call Now- 01666-12121
        </h5>
    </div>
   


    <form class="booking-content">
        <div class="row g-2">
            <div class="col-md-4">
                <label for="inputUsername" class="form-label ">First Name</label>
                <input type="text" class="form-control book-label" id="inputEmail4">
            </div>
            <div class="col-md-4">
                <label for="inputUsername" class="form-label">Last Name</label>
                <input type="text" class="form-control book-label" id="inputPassword4">
            </div>
         </div>
        <div class="col-4">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control book-label" id="inputAddress" placeholder="">
        </div>
        <div class="col-4">
            <label for="inputAddress2" class="form-label">Phone</label>
            <input type="text" class="form-control book-label" id="inputAddress2" placeholder="">
        </div>
        <div class="col-4">
            <label for="inputAddress2" class="form-label">Number of Jars</label>
            <input type="text" class="form-control book-label" id="inputAddress2" placeholder="">
        </div>
    
        <table class="booking-checks">
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input book-label" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Day
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input book-label" type="checkbox" value="" id="flexCheckDefault" >
                        <label class="form-check-label" for="flexCheckDefault">
                            Alternative Day
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input book-label" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Weekly
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input book-label" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                            Monthly
                        </label>
                    </div>
                </td>
            </tr>
        </table>

        <div class="col-4">
            <label for="inputCity" class="form-label">Address</label>
            <input type="text" class="form-control book-label" id="inputCity">
        </div>



    </form>
</div>
