<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="header-section">
    <div class="page-title">
      <h1 class="page-title-text">ACCOUNT</h1>
    </div>
    <div class="page-breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active-breadcrumb"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Account</li>
        </ol>
      </nav>
    </div>
</div>
<div class="shapedividers_com-955"></div>


<div class="confirm-page" style="padding: 50px 192px; height: 600px;">
    <h1>Welcome back User</h1>
</div>

<%- include("partials/footer") %>