<%- include("partials/header") %>

<div class="nav-container">

  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand brand" href="#">Mountain Drops</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse n-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 margin-custom">
          <li class="nav-item">
            <a class="nav-link nav-color" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="/products">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="/booking">Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="login">Contact us</a>
          </li>
        </ul>
        <div class="nav-icons">
          <a class="nav-button" href=""><i class="fa-solid fa-cart-shopping fa-lg custom-icon"></i></a>
          <a class="nav-button" href=""><i class="fa-solid fa-user fa-lg custom-icon"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="home-container">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/resources/home-container/index-carousel3.png" class="d-block w-100" alt="index-img-1">
      </div>
      <div class="carousel-item">
        <img src="/resources/home-container/carousel2.png" class="d-block w-100" alt="index-img-2">
      </div>
      <div class="carousel-item">
        <img src="/resources/home-container/carausal1.png" class="d-block w-100" alt="index-img-3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<Section class="box-container">
  <div class="row industry-feature feature-section">
    <div class="col-lg-4 col-sm-6 i-feature-card custom-icons">
      <img src="/resources/target.png" alt="...">
      <p>1000+ Happy Customers</p>                
    </div>
    <div class="col-lg-4 col-sm-6 i-feature-card custom-icons">
      <img src="/resources/rtailer.png" alt="...">
      <p>100+ Retailers</p>
    </div>
    <div class="col-lg-4 col-sm-6 i-feature-card custom-icons">
      <img src="/resources/jar_icon.png" alt="...">
      <p>500+ jars daily </p>
    </div>
  </div>
</Section>

<div class="box-container">
  <div class="water-features-section">
    <div class="title-text">
      <h2>
        A Trusted Name in 
        <br>
        <span class="section-heading-color">Water Bottle Industry</span>
      </h2>
    </div>
    <div class="water-features">
      <div class="feature-inner-box">
        <div class="feature-section-img-container">
          <img class="feature-section-img" src="/resources/feature-section/purity.png">
        </div>
        <h4>Maximum Purity</h4>
        <p>100% Pure water guaranteed.</p>
      </div>
      <div class="feature-inner-box">
        <div class="feature-section-img-container">
          <img class="feature-section-img" src="/resources/feature-section/filter.png">
        </div>
        <h4>5 Steps Filteration</h4>
        <p>Filtered through an advanced filteration process.</p>
      </div>
      <div class="feature-inner-box">
        <div class="feature-section-img-container">
          <img class="feature-section-img" src="/resources/feature-section/non-chlorine.png">
        </div>
        <h4>100% Chlorine free</h4>
        <p>No usage of Chlorine while filtering.</p>
      </div>
      <div class="feature-inner-box">
        <div class="feature-section-img-container">
          <img class="feature-section-img" src="/resources/feature-section/ph.png">
        </div>
        <h4>Alkaline Water</h4>
        <p>Healthy, Nutritious water with a ph value of 8.</p>
      </div>
    </div>  
  </div>
</div>

<Section class="box-container">
  <div class="index-product-section">
    <div class="index-product-left">
      <div class="section-heading">
        <h2>OUR DRINKING <span class="section-heading-color">WATER</span></h2>
      </div>
      <div class="section-sub-heading">
        <p>ABOUT PRODUCTS</p>
      </div>
      <div class="section-content">
        <p>Our refreshing purified bottled water can now be delivered directly to your door with our water delivery service. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies. Faucibus purus in massa tempor nec feugiat nisl pretium. Mattis ullamcorper velit sed ullamcorper morbi tincidunt.</p>
      </div>
      <div class="section-btn">
        <a href="" style="color: #fff">Shop Products</a>
      </div>
    </div>
    <div class="index-product-right">
      <img src="/resources/index-products.png" alt="products">
    </div>
  </div>
</Section>

<Section class="box-container">
  <div class="index-product-section">
    <div class="index-product-right delivery-img">
      <img src="/resources/delivery-section.png" alt="products">
    </div>
    <div class="index-product-left element-container">
      <div class="section-heading">
        <h2><span class="section-heading-color">DELIVERY</span> SERVICE</h2>
      </div>
      <div class="section-sub-heading delivery-subhead">
        <p>Get fresh mineral water at your door step in just one hour by filling out the delivery form.</p>
      </div>
      <div class="section-content">
        <p>
          <div class="delivery-section-content-item">
            <div class="delivery-subcontent-left">
              <img src="/resources/delivery.png" alt="delivery-free">
            </div>
            <div class="delivery-subcontent-right">
              <p class="delivery-section-item-list"><span class="section-heading-color">|</span> FREE DELIVERY</p>
            </div>
          </div>
          <div class="delivery-section-content-item">
            <div class="delivery-subcontent-left">
              <img src="/resources/calender.png" alt="calender">
            </div>
            <div class="delivery-subcontent-right">
              <p class="delivery-section-item-list"><span class="section-heading-color">|</span> 7 DAYS A WEEK</p>
            </div>
          </div>
          <div class="delivery-section-content-item">
            <div class="delivery-subcontent-left">
              <img src="/resources/clock.png" alt="clock">
            </div>
            <div class="delivery-subcontent-right">
              <p class="delivery-section-item-list"><span class="section-heading-color">|</span> 8:00 - 23:00</p>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</Section>

<Section class="box-container">
  <div class="index-product-section">
    <div class="index-product-left">
      <div class="section-heading">
        <h2>SUBSCRIBE TO OUR <br> <span class="section-heading-color">DAILY JAR SERVICES</span></h2>
      </div>
      <div class="section-sub-heading">
        <p>Get your 20L jar at your preferred time. Just fill out our subscription form.</p>
      </div>
      <div class="section-content">
        <p>Our refreshing purified bottled water can now be delivered directly to your door with our water delivery service. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies.</p>
      </div>
      <div class="section-btn">
        <a href="" style="color: #fff">Subscribe</a>
      </div>
    </div>
    <div class="index-product-right">
      <img src="/resources/delivery-company.png" alt="products">
    </div>
  </div>
</Section>

<section class="box-container">
  <div class="wrapper">
    <div class="review-container">
      <div class="title-container">
        <h1 class="title-text">Customer <span class="section-heading-color">Reviews</span></h1>
      </div>
      <div class="row flex-section reviews">
        <div class="col-lg-4 col-sm-6 review-box-wrapper">
          <div class="flex-section review-box">
            <div class="flex-section star-review">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
            </div>
            <div class="review-box-content">
              <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="flex-section review-profile-wrapper">
              <div class="flex-section review-profile">
                <div class="review-profile-img">
                  <img src="/resources/user.png" alt="user">
                </div>
                <div class="review-profile-name">
                  <h6>Robert Junior</h6>
                  <p><span class="section-heading-color">Verified Customer</span></p>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 review-box-wrapper">
          <div class="flex-section review-box">
            <div class="flex-section star-review">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
            </div>
            <div class="review-box-content">
              <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="flex-section review-profile-wrapper">
              <div class="flex-section review-profile">
                <div class="review-profile-img">
                  <img src="/resources/user.png" alt="user">
                </div>
                <div class="review-profile-name">
                  <h6>Eva Williams</h6>
                  <p><span class="section-heading-color">Verified Customer</span></p>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 review-box-wrapper">
          <div class="flex-section review-box">
            <div class="flex-section star-review">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
              <img src="/resources/star.png" alt="stars">
            </div>
            <div class="review-box-content">
              <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
            <div class="flex-section review-profile-wrapper">
              <div class="flex-section review-profile">
                <div class="review-profile-img">
                  <img src="/resources/user.png" alt="user">
                </div>
                <div class="review-profile-name">
                  <h6>Chris Eiden</h6>
                  <p><span class="section-heading-color">Verified Customer</span></p>
                </div>
              </div> 
            </div>
          </div>
        </div>        
      </div>
    </div>
    <div class="section-btn reviews-btn">
      <a href="" style="color: #fff">View More</a>
    </div>
  </div>
</section>

<%- include("partials/footer") %>
