<%- include("partials/header") %>

<div class="nav-container">
  <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand brand" href="#">Mountain Drops</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse n-navbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 margin-custom">
          <li class="nav-item">
            <a class="nav-link nav-color" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-color" href="login">Login.</a>
          </li>
        </ul>
        <div class="nav-icons">
          <a class="nav-button" href=""><i class="fa-solid fa-cart-shopping fa-lg custom-icon"></i></a>
          <a class="nav-button" href=""><i class="fa-solid fa-user fa-lg custom-icon"></i></a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="home-container">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/resources/home-container/index-carousel3.png" class="d-block w-100" alt="index-img-1">
      </div>
      <div class="carousel-item">
        <img src="/resources/home-container/carousel2.png" class="d-block w-100" alt="index-img-2">
      </div>
      <div class="carousel-item">
        <img src="/resources/home-container/carausal1.png" class="d-block w-100" alt="index-img-3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>



<!-- <div class="box-container industry-feature feature-section">
  <div class="custom-icons">
    <img src="/resources/target.png" alt="...">
    <p>1000 Happy Customers</p>                
  </div>
  <div class="custom-icons">
    <img src="/resources/rtailer.png" alt="...">
    <p>100 Retailers</p>
  </div>
  <div class="custom-icons">
    <img src="/resources/jar_icon.png" alt="...">
    <p>500 jars daily </p>
  </div>
</div> -->

<div class="box-container">
  <div class="water-features-section">
    <div class="title-text">
      <h2>
        A Trusted Name in 
        <br>
        Water Bottle Industry
      </h2>
    </div>
    <div class="water-features">
      <div class="feature-inner-box">
        <img class="feature-section-img" src="/resources/feature-section/water-drop (1).png">
        <h4>Maximum Purity</h4>
        <p>100% Pure water guaranteed.</p>
      </div>
      <div class="feature-inner-box">
        <img class="feature-section-img" src="/resources/feature-section/water.png">
        <h4>5 Steps Filteration</h4>
        <p>Filtered through an advanced filteration process.</p>
      </div>
      <div class="feature-inner-box">
        <img class="feature-section-img" src="/resources/feature-section/non-chlorine.png">
        <h4>100% Chlorine free</h4>
        <p>No usage of Chlorine while filtering.</p>
      </div>
      <div class="feature-inner-box">
        <img class="feature-section-img" src="/resources/feature-section/glass.png">
        <h4>Healthy Water</h4>
        <p>Rich in nutritions.</p>
      </div>
    </div>  
  </div>
</div>

<div class="box-container">
  <h1 class="section-heading">Shop Mountain Drops Alkaline Mineral Water</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="/resources/250ml.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">250ml Water Bottle</h5>
          <p>Pack of 24 bottles</p>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/resources/bottle1.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/resources/1ltr.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/resources/5ltr.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/resources/water-container.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="/resources/camper.jpg" class="card-img-top card-image" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>




<%- include("partials/footer") %>
