<%- include("partials/header") %>
<div container class="login-container">
  <div class="loged">
    <table class="loged-txt">
      <tr>
        <td>
          <h1 class="l-text">LOG IN</h1>
        </td>
        <td>
          <form action="/login" method="post">
            <div class="loged-data">
              <div class="row g-3">
                <div class="col-auto">
                  <label for="inputUsername" class="col-form-label label-name">Username</label>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" id="validationDefaultUsername" style="background-color:transparent; color: #fff;" aria-describedby="passwordHelpInline" required>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-auto">
                  <label for="inputPassword6" class="col-form-label label-pass">Password</label>
                </div>
                <div class="input-group">
                  <input type="password" id="validationDefaultUsername inputPassword6" class="form-control"  style="background-color:transparent;" aria-describedby="inputGroupPrepend2 passwordHelpInline" required>
                </div>
              </div>
              <div class="log-btn">
                <button type="submit" class="btn btn-outline-light log-btn">LogIn</button>
              </div>
              <div class="register-link">
                <p>New here?<a href="/register">Register</a></p>
              </div>
            </div>
          </form>
        </td>
      </tr> 
    </table>
  </div>
</div>
  
      
      