<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="header-section">
  <div class="page-title">
    <h1 class="page-title-text">PRODUCTS</h1>
  </div>
  <div class="page-breadcrumbs">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active-breadcrumb"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
  </div>
</div>
<div class="shapedividers_com-955"></div>

<div class="product-wrapper">
  <div class="header-product">
    <h5><strong><span class="section-heading-color">|</span></strong> Showing all products</h5>
  </div>
  <div class="row">
    <div class="col-lg-9 mx-auto product-sub-wrapper">
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/250ml.jpg" class="card-img-top" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">250 ml water bottle</h5>
          </div>
          <div class="product-card-subhead">
            <p>250ml * 24 Bottles</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 150</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/bottle1.jpg" class="card-img-top" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">500 ml water bottle</h5>
          </div>
          <div class="product-card-subhead">
            <p>500 ml * 24 Bottles</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 250</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/1ltr.jpg" class="card-img-top card-first" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">1 Ltr water bottle</h5>
          </div>
          <div class="product-card-subhead">
            <p>1 ltr * 12 Bottles</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 200</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 mx-auto product-sub-wrapper">
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/5ltr.jpg" class="card-img-top" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">5 Ltr water bottle</h5>
          </div>
          <div class="product-card-subhead">
            <p>5Ltr * 6 Bottles</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 280</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/water-container.jpg" class="card-img-top" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">20 Ltr water jar</h5>
          </div>
          <div class="product-card-subhead">
            <p>20 Ltr * 1 Jar</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 50</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 product-card-wrapper">
        <div class="product-card">
          <div class="product-card-img">
            <img src="/resources/camper.jpg" class="card-img-top card-first" alt="...">
          </div>
          <div class="product-card-title">
            <h5 class="card-title">20 Ltr water camper</h5>
          </div>
          <div class="product-card-subhead">
            <p>20 ltr * 1 Camper</p>
          </div>
          <div class="product-price">
            <h6><i class="fa-solid fa-indian-rupee-sign"></i> 50</h6>
          </div>
          <div class="section-btn product-btn">
            <a href="" style="color: #fff; font-size: 15px"><i class="fa-solid fa-cart-shopping"></i>Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
