<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="page-head shapedividers_com-1409">
  <!-- <h1>Our Products</h1> -->
  <img src="/resources/Untitled design.png">
</div>

<div class="custom-products">
  <table>
    <tr>
      <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/250ml.jpg" class="card-img-top card-first" alt="...">
          <div class="card-body">
            <h5 class="card-title">250 ml water bottle</h5>
            <p>250ml*24 bottles</p>
            <h5>MRP : 150</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/bottle1.jpg" class="card-img-top card-second" alt="...">
          <div class="card-body">
            <h5 class="card-title">500 ml water bottle</h5>
            <p>500 ml*24 bottles</p>
            <h5>MRP : 250</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
        <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/1ltr.jpg" class="card-img-top card-third" alt="...">
          <div class="card-body">
            <h5 class="card-title">1 ltr water bottle</h5>
            <p>1 ltr*12 bottles</p>
            <h5>MRP:200</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/5ltr.jpg" class="card-img-top card-forth" alt="...">
          <div class="card-body">
            <h5 class="card-title">5 ltr water bottle</h5>
            <p>5 ltr*6 bottles</p>
            <h5>MRP : 280</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/water-container.jpg" class="card-img-top card-fifth" alt="...">
          <div class="card-body">
            <h5 class="card-title">20 ltr Water Jar</h5>
            <p>1*20 ltr</p>
            <h5>MRP : 50</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="card" style="width: 18rem;">
          <img src="/resources/camper.jpg" class="card-img-top card-sixth" alt="...">
          <div class="card-body">
            <h5 class="card-title">20 ltr water camper</h5>
            <p>1*20 ltr camper</p>
            <h5>MRP : 50</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="card text-center mb-3">
              <a href="#" class="btn btn-primary ">Add to Cart</a>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

<%- include("partials/footer") %>
