body{
    background-color: rgb(231, 253, 254);
    font-family: 'Montserrat', sans-serif;
}

.custom-icon{
    margin: 20px 20px 20px 10px;

}
.brand{
    margin:0 0 0 70px;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
}

.nav-button{
    text-decoration: none;
    color: inherit;
}

.custom-navbar{
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.margin-custom{
    margin-left: 15px;
}