body{
    background-color: rgb(231, 253, 254);
    font-family: 'Montserrat', sans-serif;
}

.custom-icon{
    margin: 20px 20px 20px 10px;

}
.brand{
    margin:0 0 0 70px;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
}

.nav-button{
    text-decoration: none;
    color: inherit;
}

.custom-navbar{
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.margin-custom{
    margin-left: 15px;
}

.index-page{
    height:90vh;
}

.feature-section{
    height:170px;
}
.industry-feature > img{
    height: 100px;
    width:100px;
    margin-left: 200px;
}

.main-headline{
    width: 300px;
    position: relative;
    margin-left: 70px;
    top: 30%;
}

.main-quote{
    font-weight: 600;
    font-family: 'Playfair Display', serif;
}

.custom-icons> img{
    height:100px;
    width:100px;
}
.custom-icons{
    display:inline-block;
    margin:50px 110px 50px 150px;



}