h1{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   
}

body{
    background-color: rgb(231, 253, 254);
    font-family: 'Montserrat', sans-serif;
}
.brand{
    margin:0 0 0 70px;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
}

.nav-button{
    text-decoration: none;
    color: inherit;
}

.custom-navbar{
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.custom-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;

}
.card{
    display:flex;
    justify-content: space-between;
    
}
