h1{
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   
}

body{
    background-color: rgb(231, 253, 254);
    font-family: 'Montserrat', sans-serif;
}
.brand{
    margin:0 0 0 70px;
    font-family: 'Croissant One', cursive;
    font-size: 30px;
}

.nav-button{
    text-decoration: none;
    color: inherit;
}

.custom-navbar{
    height: 100px;
    background-color: rgb(255, 255, 255);
}

.custom-products{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;

}
.card{
    border-radius: 50px;
    margin: 30px;
    transition: all 500ms ease;
}

.card:hover{
   outline-style:unset;
}


.card-first{
    height:300px;
    width:280px;
    border-radius: 50px;

}

.card-second{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-third{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-forth{
    height:300px;
    width:280px;
    border-radius: 50px;
}

.card-fifth{
    height:300px;
    width:280px;
    border-radius: 50px;
}
.card-sixth{
    height:300px;
    width:280px;
    border-radius: 50px;
}

h5{
    text-align: center;
}
p{
    text-align:center;
}

